# Visual Studio
.vs/

# .NET
bin/
obj/

# Archivos de usuario de Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db

# macOS
.DS_Store